# Ignora todo
/*
!.gitignore

# system-wide
!.local.conf
!.apt.conf
!.fstab
!.xorg.conf

# home-wide
!README.md
!LICENSE
!.Xresources
!.gitconfig
!.bashrc
!.zshrc
!.p10k.zsh
!.bash_functions
!.vimrc
!.config/terminator/config
