* {
    border: none;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo";
    font-size: 19px;
    font-weight: 600;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
}

#workspaces button {
    padding: 0 10px;
    margin: 0 5px 0 0;
    background: alpha(#282c34, 0.6);
    color: alpha(#bbc2cf, 0.8);
    border: 1px solid alpha(#5b6268, 0.8);
    transition: all 250ms ease-in-out;
    border-radius: 8px;
}

#workspaces button.active {
    min-width: 50px;
    background: alpha(#bbc2cf, 0.5);
    color: #282c34;
    border: 1px solid alpha(#bbc2cf, 0.8);
    border-radius: 100px;
}

#clock {
    color: #bbc2cf;
}

#wireplumber,
#network {
    background: alpha(#bbc2cf, 0.5);
    color: #282c34;
    border: 1px solid alpha(#bbc2cf, 0.8);
    border-radius: 100px;
    padding: 0 12px;
    margin: 0 0 0 5px;
}
